In [1]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline

## Question 1.

In [19]:
titanic=pd.read_csv('https://gist.githubusercontent.com/Prateek2901/9fb974729485b7a5c8f0b35fb2452cdf/raw/2831393868cecf6f65be4cb17924163ecfe3ad9c/titanic_prepared_data.csv')

In [14]:
titanic.head()

,Survived,Sex,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Embarked_0,Embarked_1,Embarked_2,FamilySize
0,0,1,22.0,7.2500,0,0,1,0,0,1,2
1,1,0,38.0,71.2833,1,0,0,1,0,0,2
2,1,0,26.0,7.9250,0,0,1,0,0,1,1
3,1,0,35.0,53.1000,1,0,0,0,0,1,2
4,0,1,35.0,8.0500,0,0,1,0,0,1,1

## Question 2.

In [20]:
titanic['Survived'].isnull().sum()
titanic['Survived']=titanic['Survived'].dropna()
titanic['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

## Question 3.

In [22]:
titanic['has_cabin']=~titanic.cabin.isnull()

AttributeError: 'DataFrame' object has no attribute 'Cabin'

## Question 4.